<!doctype html>
<html lang="en" data-ng-app="incremental">
<head>
    <meta charset="utf-8">
    <title>My HTML File</title>

    <!-- bower:css -->
    <!-- endinject -->

    <link rel="stylesheet" href="css/app.css">

    <!-- bower:js -->
    <!-- endinject -->

    <!-- angular:js -->
    <!-- endinject -->
</head>
<body class="container-fluid" ng-controller="IncrementalController">

    <h1>Basics</h1>
    <div class="row">
        <div class="col-sm-10">
            <div class="panel panel-default">
                <ul class="list-inline">
                    <li ng-bind="ticker.tickCount"></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <resourceList resources="resources"></resourceList>
        </div>

        <div class="col-sm-6">

            <div class="panel panel-default">
                <table class="table table-bordered table-condensed">
                    <tr>
                        <th>Action</th>
                        <th>Effect</th>
                    </tr>
                    <tr ng-repeat="converter in converters">
                        <td><converter name="converter.name" data="resources" source="converter.cost"></converter></td>
                        <td>{{converter.description}}</td>
                    </tr>
                </table>

                <button type="button" class="list-group-item" ng-click="save()">Save</button>
            </div>
        </div>
    </div>

</body>
</html>
